<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: separate;
    }
</style>

<table>
    <h1>Departments</h1>
    <br></br>
    <th>Department ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Budget</th>
    <th>Delete</th>

    </tr>
    <% departmentList.forEach((departmentList)=>
        { %>
        <tr>
            <td>
                <%= departmentList.did %>
            </td>
            <td>
                <%= departmentList.dname %>
            </td>
            <td>
                <%= departmentList.lid %>
            </td>
            <td>
                <%= departmentList.budget %>
            </td>
            <td>
                <a href="/department/delete/<%= departmentList.did %>">
                    <p type="submit">Delete</p>
                </a>
            </td>
        </tr>
        <% }) %>
</table>

<p></p>

<button onclick="window.location.href='http://localhost:3004/';">
    Home
</button>