<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: separate;
    }
</style>

<table>
    <h1>Employees</h1>
    <a href="http://localhost:3004/employees/add"><button type="submit" value="Add Employee">Add Employee</button></a>
    <p></p>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Salary</th>
    <th>Update</th>

    </tr>
    <!--Loops over all employees and displays them-->
    <% employeeList.forEach((employeeList)=>
        { %>
        <tr>
            <td>
                <%= employeeList.eid %>
            </td>
            <td>
                <%= employeeList.ename %>
            </td>
            <td>
                <%= employeeList.role %>
            </td>
            <td>
                <%= employeeList.salary %>
            </td>
            <td>
                <!--Does a get request including employee id-->
                <a href="/employees/edit/<%= employeeList.eid %>">
                    <p type="submit">Update</p>
                </a>
            </td>
        </tr>
        <% }) %>
</table>

<br>

<button onclick="window.location.href='http://localhost:3004/';">
    Home
</button>