<body>
    <h1>Edit Employee</h1>
    <p>Name must be 5 Characters</p>
    <p>Salary cannot be less than zero.</p>
</body>

<form href="http://localhost:3004/employees/edit/<%= updateEmployee[0].eid %>" method="POST">
    <b><label>Employee ID:</label></b>
    <input type="text" readonly="true" name="eid" value="<%= updateEmployee[0].eid%>"></input><br>
    <b><label>Employee Name:</label></b>
    <input type="text" name="ename" value="<%= updateEmployee[0].ename %>"></input><br>
    <b><label>Role:</label></b>
    <input type="text" name="role" value="<%= updateEmployee[0].role %>"></input><br>
    <b><label>Salary:</label></b>
    <input type="number" name="salary" value="<%= updateEmployee[0].salary %>"></input><br>
    <br>
    <input type="submit" value="Update">
</form>

<p></p>

<button onclick="window.location.href='http://localhost:3004/';">
    Home
</button>